{% autoescape None %}
<html>
	<head>
		<title>{{ title }}</title>
        <script src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.10.2.js" type="text/javascript"></script>
        <script type="text/javascript">
          $(document).change(function() {
            if ($("#info").attr("oid") == 0) {
                $("#change_gold").hide()
            }
            else {
                $("#change_gold").show()
            }
          })
          $(document).ready(function(){

            if ($("#info").attr("oid") == 0) {
                $("#change_gold").hide()
            }

            $("#gold_button").click(function(e) {
                gold = $("#gold_input").val()
                $.post("change_gold", {"gold":gold, "oid":($("#info").attr("oid"))}, function(data)
                {
                    $("#info").replaceWith(data)
                    console.log($("#info").attr("oid"))

                    if ($("#info").attr("oid") == 0) {
                       $("#change_gold").hide()
                     }
                    else {
                       $("#change_gold").show()
                    }
                }
                )
            })

            $("#query_button").click(function(e) {
                oid_input_value = $("#oid_input").val()
                $.post("query_info", {oid:oid_input_value}, function(data)
                {
                   $("#info").replaceWith(data)
                   console.log($("#info").attr("oid"))

                    if ($("#info").attr("oid") == 0) {
                       $("#change_gold").hide()
                     }
                    else {
                       $("#change_gold").show()
                    }
                }
               )
            })

            $("#change_button").click(function(e) {
                key_input_value = $("#key_input").val()
                value_input_value= $("#value_input").val()

                $.post("change_any", {"key":key_input_value, value:value_input_value, "oid":($("#info").attr("oid"))}, function(data)
                {
                    $("#info").replaceWith(data)

                    if ($("#info").attr("oid") == 0) {
                       $("#change_gold").hide()
                     }
                    else {
                       $("#change_gold").show()
                    }
                }
                )

            })

            $("#change_button_boolean").click(function(e) {
                key_input_value = $("#key_input_boolean").val()
                value_input_value= $("#value_input_boolean").val()

                $.post("change_any_boolean", {"key":key_input_value, value:value_input_value, "oid":($("#info").attr("oid"))}, function(data)
                {
                    $("#info").replaceWith(data)

                    if ($("#info").attr("oid") == 0) {
                       $("#change_gold").hide()
                     }
                    else {
                       $("#change_gold").show()
                    }
                }
                )

            })
          $("#change_button_string").click(function(e) {
                key_input_value = $("#key_input_string").val()
                value_input_value= $("#value_input_string").val()

                $.post("change_any_string", {"key":key_input_value, value:value_input_value, "oid":($("#info").attr("oid"))}, function(data)
                {
                    $("#info").replaceWith(data)

                    if ($("#info").attr("oid") == 0) {
                       $("#change_gold").hide()
                     }
                    else {
                       $("#change_gold").show()
                    }
                }
                )

            })

          
          });
        </script>
        <link rel="stylesheet" type="text/css" href="/static/css/highlight.css">
        <style type="text/css">
          div#info {float:left;}
          div#op {float:left;}
        </style>
	</head>
	<body>
        <div id="op">
            <div id=query_info>
              <p>query_info<br><input id=oid_input type="text"></p>
              <input id=query_button value="提交" type="button">
            </div>
            <div id=change_gold>
              <p>change_gold<br><input id=gold_input type="text"></p>
              <input id=gold_button value="提交" type="button">
              <p>change_any_number: example: gold 1002 or achievement.25.count 3<br>
              <input id=key_input type="text">
              <input id=value_input type="text"></p>
              <input id=change_button value="提交" type="button">

              <p>change_any_boolean: example: achievement.25.complete false<br>
              <input id=key_input_boolean type="text">
              <input id=value_input_boolean type="text"></p>
              <input id=change_button_boolean value="提交" type="button">

              <p>change_any_string: example: name "大便王"<br>
              <input id=key_input_string type="text">
              <input id=value_input_string type="text"></p>
              <input id=change_button_string value="提交" type="button">

            </div>
        </div>

        <div id="info_hold">
        <div id="info" oid={{ oid }}>
		  {{ body }}
        </div>
        </div>
	</body>
</html>
